body {
  overflow-x: hidden;
  font-family: Montserrat;
  font-style: normal;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  object-fit: cover;
  max-width: 100%;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
}
.section-button {
  text-align: center;
  text-decoration: none;
  padding: 11px 40px;
  white-space: nowrap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
  background-color: $headerTextColor;
  border-radius: 40px;
  border: 1px solid rgba($color: #000000, $alpha: 0.0);
  @media (max-width: 768px) {
    margin-left: auto;
  margin-right: auto;
  }
  
  &:hover {
    color: $headerTextColor;
    background-color: #fff;
    border: 1px solid $headerTextColor;
  }
  &--biger {
    padding: 23px 61px;
    font-weight: 700;
    font-size: 21px;
    line-height: 22px;
    position: relative;
    bottom: -50px;
  }
}
